<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 FireGento e.V. - All rights reserved.
 * See LICENSE.md bundled with this module for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Category">
        <plugin name="flexcmsRewriteCategoryUrl" type="FireGento\FlexCms\Model\Plugin\AfterGetUrl" sortOrder="1"/>
    </type>
</config>
